*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:100% 100%;
    text-align: center;
}

input[id="file"] {
    margin-left: 100px;
    height: 0;
    background-color: grey;
}

.main{
    width: 950px;
    height: 500px;
    /* background-color: pink; */
    /* background-color: rgba(41, 45, 62, .8); */
    padding: 20px;
}

/* header */
.main .header{
    font-size: 45px;
    color: black;
    font-family: JetBrains Mono Medium;
    margin-bottom: 30px;
}


/* 中间主体部分 */
.main .middle{
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
}

/* 中间左边 */
.main .middle .left{
    width: 430px;
    height: 500px;
    /* background-color: blue; */
}
.middle .audio1{
    width: 430px;
    height: 230px;
    /* background-color: grey; */
    margin-bottom: 40px;
    border: 2px solid #63b3db;


}
/* .middle .audio1 .input_file{
    display: inline-block;
} */

.middle .audio1 img{
    width: 430px;
    height: 150px;
    /* background-color: yellow; */
}

.left .audio1 .lab{
    display: inline-block;
    width: 200px;
    height: 27px;
    font-size: 14px;
    text-transform: uppercase;
    /* border: 2px solid #07eb57a3; */
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background-color: rgba(230, 232, 241, 0.8);
    margin-top: 4px;
    margin-bottom: 2px;
}

.left .audio1 .lab:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.left .audio1 .lab1{
    display: inline-block;
    width: 200px;
    height: 27px;
    font-size: 14px;
    text-transform: uppercase;
    /* border: 2px solid #07eb57a3; */
    text-align: center;
    line-height: 30px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    background-color: rgba(230, 232, 241, 0.8);
    border: none;
    margin-top: 4px;
    margin-bottom: 2px;
    /* margin-right: 45px; */
}

.left .audio1 .txt{
    height: 22px;
    margin-top: 4px;
    text-align: center;
    background-color: rgba(243, 107, 22, 0.423);

    /* margin-left: 2px;
    margin-right: 43px; */
    border-radius: 1px;
    /* border: 2px #8fd3f4 100%; */
}

.left .audio1 .lab1:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.left .audio1 .shadow
{
    box-shadow:   1px 1px 2px #646870;
}

.left .button_box{
    display: flex;
    justify-content: space-around;
}

/* 中间右边 */
.main .right{
    width: 430px;
    height: 500px;
    /* background-color: skyblue; */
    text-align: center;
    border: 2px solid #61c0ef;
}

.main .right .title{
    color: black;
    margin: 30px 0;
    font-size: 25px;
    font-family: JetBrains Mono Medium;
    margin-bottom: 50px;

}

.right .buttom{
    margin-top: 40px;
}
.right .buttom span{
    margin-top: 10px;
    color: #faa984;
    font-size: 50px;
}
.right .buttom .txt{
    color: black;
    font-size: 23px;
    margin-top: 13px;
}

.right .circle{
    border-radius: 200px;
    border: #faa984 3px solid;
    /* box-shadow:   1px 1px 1px #646870; */
    /* margin-bottom: 1px; */
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
}

/* 超链接按钮 */
.footer{
    display: flex;
    justify-content: center;
}

.footer .btn {
    display: inline-block;
    width: 200px;
    text-transform: uppercase;
    border: 2px solid #0e92b3;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    margin: 30px 70px;
    background-color: #fff
}

.footer .btn:hover {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

label,
textarea {
    font-family: JetBrains Mono Medium;
    font-size: 14px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
